/*
    Author: Ajeesh T
    Date Created: August 31, 2024
    Description: This CSS file contains styles for the popup extension.
*/

body {
    font-family: Arial, sans-serif;
    background-color: #2b2b2b;
    margin: 0;
    color: #fff;
}

.popup {
    background-color: #333;
    width: 325px;
    padding: 15px;
}

.popup-header {
    padding: 10px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.popup-header h2 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.home-svg {
    fill:#4CAF50;
}

.header-button-right {
    position: absolute;
    right: 0;
    padding: 5px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.header-button-left {
    position: absolute;
    left: 0;
    padding: 5px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.header-button-left:hover {
    color: black;
    transform: scale(1.1);
}

.header-button-right:hover {
    color: black;
    transform: scale(1.1);
}

.rotate:hover {
    transform: rotate(45deg) scale(1.1);
}

.saved-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.saved-item {
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s, border-color 0.3s;
}

.checkbox-group {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.checkbox-item {
    background-color: #1f1f1f;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
}

.checkbox-item:hover {
    background-color: #555;
    border-color: #666;
}

.checkbox-label {
    display: flex;
    align-items: center;
}

.checkbox-label input[type="checkbox"] {
    margin-right: 15px;
    accent-color: #007BFF;
}

.text-content {
    display: flex;
    flex-direction: column;
}

.text-content strong {
    font-size: 16px;
    color: #4CAF50;
}

.text-content p {
    font-size: 12px;
    color: #ffff;
    margin: 2px 0 0;
}

.icon {
    width: 24px;
    height: 24px;
}


.popup-footer {
    text-align: center;
}

.submit-btn {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.item {
    background-color: #858585;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.item img {
    width: 32px;
}

strong,
p {
    padding-left: 5px;
}

/* Scrollbar for WebKit browsers */
::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #28a745; /* Green color for the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #218838; /* Darker green when hovered */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Light background for the track */
    border-radius: 10px; /* Rounded corners for the track */
}

/* Checkbox style start */
.checkbox-wrapper-7 .tgl {
    display: none;
}

.checkbox-wrapper-7 .tgl,
.checkbox-wrapper-7 .tgl:after,
.checkbox-wrapper-7 .tgl:before,
.checkbox-wrapper-7 .tgl *,
.checkbox-wrapper-7 .tgl *:after,
.checkbox-wrapper-7 .tgl *:before,
.checkbox-wrapper-7 .tgl+.tgl-btn {
    box-sizing: border-box;
}

.checkbox-wrapper-7 .tgl::-moz-selection,
.checkbox-wrapper-7 .tgl:after::-moz-selection,
.checkbox-wrapper-7 .tgl:before::-moz-selection,
.checkbox-wrapper-7 .tgl *::-moz-selection,
.checkbox-wrapper-7 .tgl *:after::-moz-selection,
.checkbox-wrapper-7 .tgl *:before::-moz-selection,
.checkbox-wrapper-7 .tgl+.tgl-btn::-moz-selection,
.checkbox-wrapper-7 .tgl::selection,
.checkbox-wrapper-7 .tgl:after::selection,
.checkbox-wrapper-7 .tgl:before::selection,
.checkbox-wrapper-7 .tgl *::selection,
.checkbox-wrapper-7 .tgl *:after::selection,
.checkbox-wrapper-7 .tgl *:before::selection,
.checkbox-wrapper-7 .tgl+.tgl-btn::selection {
    background: none;
}

.checkbox-wrapper-7 .tgl+.tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-wrapper-7 .tgl+.tgl-btn:after,
.checkbox-wrapper-7 .tgl+.tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.checkbox-wrapper-7 .tgl+.tgl-btn:after {
    left: 0;
}

.checkbox-wrapper-7 .tgl+.tgl-btn:before {
    display: none;
}

.checkbox-wrapper-7 .tgl:checked+.tgl-btn:after {
    left: 50%;
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn {
    background: #fbfbfb;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
    border: 1px solid #e8eae9;
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn:after {
    border-radius: 2em;
    background: #1f1f1f;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn:hover:after {
    will-change: padding;
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn:active {
    box-shadow: inset 0 0 0 2em #e8eae9;
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn:active:after {
    padding-right: 0.8em;
}

.checkbox-wrapper-7 .tgl-ios:checked+.tgl-btn {
    background: #86d993;
}

.checkbox-wrapper-7 .tgl-ios:checked+.tgl-btn:active {
    box-shadow: none;
}

.checkbox-wrapper-7 .tgl-ios:checked+.tgl-btn:active:after {
    margin-left: -0.8em;
}

/* checkbox style end */


/* Saved meeting page style start */

.links-container {
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-item {
    background-color: #1f1f1f;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
}

.link-item:hover {
    background-color: #2a2a2a;
    transform: scale(1.05);
}


.link-edit-input,
.name-edit-input {
    color: #4CAF50;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-right: auto;
    border: none;
    background: transparent;
}

.link-name {
    color: #4CAF50;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-right: auto;
    text-decoration: none;
    transition: color 0.2s;
}

.link-name:hover {
    color: #67f76a;
}

.name-edit-input {
    background-color: #333;
    width: 20%;
    padding: 5px;
    border-radius: 4px;
    color: #fff;
}

.link-edit-input {
    width: 40%;
    background-color: #333;
    padding: 5px;
    border-radius: 4px;
    color: #fff;
}

.icon-btn {
    background: none;
    border: none;
    color: #e0e0e0;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
}

.icon-btn:hover {
    color: #4CAF50;
    transform: scale(1.2);
}

/* Tooltip container */
.icon-btn::after {
    content: attr(aria-label); /* Use ARIA label for accessibility */
    position: absolute;
    top: -30px; /* Adjust for positioning above the icon */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333; /* Background color for the tooltip */
    color: #fff; /* Text color */
    padding: 5px 8px;
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}

/* Show tooltip on hover */
.icon-btn:hover::after {
    opacity: 1;
}

.edit-icon::before {
    content: '\270E';
    /* Pencil (edit) icon */
}

.save-icon::before {
    content: '\2713';
    /* Check (save) icon */
}

.saved-icon {
    color: #4CAF50;
    transform: scale(1.2);
}

.saved-icon::before {
    content: '\2714';
    /* Check (save) icon */
}

.delete-icon::before {
    content: '\1F5D1';
    /* Trash (delete) icon */
}

.copy-icon::before {
    content: '\2398';
    /* Clipboard (copy) icon */
}

.add-link-input {
    width: 40%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #555;
    color: #fff;
}

.add-name-input {
    width: 20%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #555;
    color: #fff;
}

.add-link-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.add-link-btn:hover {
    transform: scale(1.2);
}

.add-link-btn .icon {
    transform: scale(1.2);
}

.time-ago {
    font-weight: normal;
    color: white;
}

/* Saved meeting page style end */
